@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding-left: 2%;
    background: linear-gradient(to bottom, rgb(196, 175, 223), rgb(121, 102, 199));
    background-repeat: no-repeat;
}

h1 {
    font-size: 36px;
    padding-top: 5%;
    color: white;
}

.line {
    border-bottom: solid 1px white;
    padding: 5% ;
}

.add-todo {
    padding-top: 5%;

    input {
        font-size: 20px;
    }

    .submit-button {
        text-align: center;
        font-size: 20px;
        background: linear-gradient(to bottom, rgb(201, 100, 161), rgb(121, 102, 199));
        border-radius: 10px;
        padding: 0% 1%;
    }

    &__list {
        color: white;
        font-size: 20px;
        list-style-type: none;
        padding-top: 5%;
        padding-left: 0%;
    }
}