html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    ;
    padding-left: 5%;
    background: linear-gradient(to bottom, rgb(131, 92, 183), rgb(135, 116, 214));
    background-repeat: no-repeat;
}

h1 {
    font-size: 36px;
    padding-top: 5%;
    color: white;
}

.line {
    border-bottom: solid 1px white;
    padding-top: 5%;
}

.add-todo {
    padding-top: 5%;

    input {
        font-size: 20px;
    }

    .submit-button {
        text-align: center;
        font-size: 20px;
        background-color: rgb(201, 81, 159);
        border-radius: 10px;
    }

    &__list {
        color: white;
        font-size: 20px;
        list-style-type: none;
        padding-top: 5%;
        padding-left: 0%;
    }
}